<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="CucumberPOM">
		<classes>
			<class name="com.qa.Runner.TestRunner"/>
			<!-- <class name="com.qa.Pages.GetDataExcel" /> -->
			<!-- <class name="com.qa.Runner.FailureReRun"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
